<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Agenda</title>
      <meta charset="utf-8">
      	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	 crossorigin="anonymous">
  </head>
  <body class="text-center">
    <h1>Agenda</h1>
    <main style="margin:40px auto; width:50%;">
   <table class=".table-active table table-bordered">
     <thead>
  <tr>
    <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jane</td>
      <td>Jane@email</td>
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>John</td>
      <td>john@email</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fernando</td>
      <td>fer@email</td>
    </tr>
</table>
  <a href="/form" class="btn btn-success">Agregar +</a>
    </main>
  </body>
</html>